Enabled?: <input type="checkbox" ng-model="enabled">

<button ng-click="printSomething('button')"
        ng-disabled="!enabled">Print Something</button>

<span class="btn btn-info"
      ng-click="printSomething('span')"
      ng-disabled="!enabled">Print Something</span>

<span class="btn btn-info ng-scope"
      ng-click="!(!enabled) && printSomething('span')"
      >Print Something</span>
<br>

<img src="http://static1.gamespot.com/uploads/original/1179/11799911/2901754-futurama.jpg" />
<img src="http://1.images.comedycentral.com/images/shows/Futurama/Videos/season_1/futurama_01_0102_zoidberg_physical_640x360.jpg?width=1200&height=630&crop=true" />
<form>
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text"
               ng-model="model.name"
               class="form-control"
               id="userName"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text"
               ng-model="model.surname"
               class="form-control"
               id="surname"
               placeholder="Surname">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               ng-model="model.email"
               class="form-control"
               id="email"
               placeholder="Email">
    </div>

    <span class="pull-right btn btn-info"
          ng-hide="model.id"
          ng-click="save()">Add</span>

    <span class="pull-right btn btn-info"
          ng-show="model.id"
          ng-click="save()">Save</span>
</form>

<div class="clearfix"></div>

<h3>below</h3>
<card-component `="model"></card-component>
<hr>

<span user-card card="model" can-edit="false"></span>
<hr>

<div dummy-directive
     name="{{model.name}}"
     save-function="parentSaveFunction(other, a)"></div>







