<form>
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text"
               ng-model="model.name"
               class="form-control"
               id="userName"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text"
               ng-model="model.surname"
               class="form-control"
               id="surname"
               placeholder="Surname">
    </div>
    <div class="form-group">
        <label for="position">Position</label>
        <input type="text"
               ng-model="model.position"
               class="form-control"
               id="position"
               placeholder="Position">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               ng-model="model.email"
               class="form-control"
               id="email"
               placeholder="Email">
    </div>
    <div class="form-group">
        <label for="phone">Phone No.</label>
        <input type="text"
               ng-model="model.phone"
               class="form-control"
               id="phone"
               placeholder="Phone">
    </div>
        <span class="pull-right btn btn-info"
              ng-hide="model.id"
              ng-click="save()">Add</span>

        <span class="pull-right btn btn-info"
              ng-show="model.id"
              ng-click="save()">Save</span>
</form>
