<span class="row">
    <div class="col-xs-12">
        <input ng-model="someinput">
        <span ng-show="showme">SOMEINPUT IS AWESOME</span>
    </div>
    <div class="col-xs-12">
      <b>Hide</b>:
        <input type="checkbox" ng-model="hide"> {{hide}}
    </div>
    <span our-switch="hide">
        <div class="col-xs-6"
             ng-repeat="card in list">

            <span user-card
                  card="card"
                  can-edit="false"></span>
        </div>
    </span>
</span>