<span>
    <h1>List of participants:</h1>
    Hide: <input type="checkbox" ng-model="hide">

    <span our-switch>
        <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Info</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr ng-repeat="item in list track by $index">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{$first}} vs. {{$last}}</td>
                <td>
                        <span class="btn btn-danger" ng-click="remove(item)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>

                         <span class="btn btn-info"
                               ui-sref="main.participants.edit({id: item.id})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </span>
</span>