<div class="well">
    <span ng-show="!edit">
        <h3>{{card.name}} {{card.surname}}</h3>
        {{card.email}}
    </span>

    <span ng-show="edit">
        <input ng-model="card.name">
        <input ng-model="card.surname">
        <input ng-model="card.email">
    </span>


    <div class="text-right">
        <span class="btn btn-info" ng-show="!edit"
              ng-click="edit=true">
            <i class="glyphicon glyphicon-edit"></i>
        </span>
        <span class="btn btn-info" ng-show="edit">
            <i class="glyphicon glyphicon-save"></i>
        </span>
        <span class="btn btn-info" ng-show="edit"
              ng-click="edit = false">
            <i class="glyphicon glyphicon-refresh"></i>
        </span>
    </div>
</div>