<div class="well">
    <span ng-transclude></span>
    <span id="view" ng-if="!edit">
        <h3>{{card.name}} {{card.surname}}</h3>
        {{card.email}}
    </span>

    <span id="edit" ng-if="edit">
        <input ng-model="card.name">
        <input ng-model="card.surname">
        <input ng-model="card.email">
    </span>


    <div id="buttons" class="text-right" ng-if="canEdit">
        <span class="btn btn-info" ng-show="!edit"
              ng-click="switchEditMode()">
            <i class="glyphicon glyphicon-edit"></i>
        </span>
        <span class="btn btn-info"
              ng-show="edit"
              ng-click="save()">
            <i class="glyphicon glyphicon-save"></i>
        </span>
        <span class="btn btn-default" ng-show="edit"
              ng-click="switchEditMode()">
            <i class="glyphicon glyphicon-remove"></i>
        </span>
    </div>
</div>